<div class="report-selection" >
	<h1 id='report-selection-header'>Report selection and drill down options</h1>
	<div class="report-id-input">
        <select ng-model="reportIDSelection"
        		ng-options="item.id as item.name for item in testAccounts"
        		ng-change="showSelectedValue(reportIDSelection)"
        		id="pbirptid">
        		<option value="">Select Report</option>
        </select>
        <span class="report-id-input-btn">
            <button ng-click="loadReport();" class="btn btn-default">Load Report</button>
        </span>
       
        <!-- <p>{{tileEmbedUrl}}</p> -->
    </div>

    <div class="likesReport"></div>
    <!-- <iframe id="iFrameLikeDislikeTile" height="500px" width="900px"></iframe> -->
    <!-- <div ng-hide="true" id="dataSelectedContainer"></div> -->
    <!-- <div>
         Get from / embed from URL:<input class="urlInput" type="text" ng-model="getEmbedUrl" width="800px"></input>
    </div> -->
    <div id="getApiUrl" ng-show="false;">
    </div>
    <div style="margin-top: 10px;">
        Refresh PD onselection?
        <input id="pdRefreshOn" class="CheckBox" type="checkbox" 
                checked data-toggle="toggle" 
                ng-change="refreshButtonStatus()" 
                ng-model="myData">
        </input>
        <!-- <br> -->
        <button ng-click="hideThumbs();" class="btn btn-default" id="pdRefreshButton">Refresh PD List</button>
<!--         <button ng-click="clearTable();" class="btn btn-default" id="pdClearTableButton">Clear PD List</button>
        <button ng-click="createDS();" class="btn btn-default" id="pdClearTableButton">Create L/D DS</button>
        <button ng-click="getDatasets();" class="btn btn-default" id="pdClearTableButton">Get From URL</button> -->
    </div>
</div>
<div class="report-container" >
    <h1 id='report-container-header'>Power BI Report</h1>
    <div id="reportContainer" style="height: 500px;">
    </div>
    <div id="userExperience" ng-init="initThumbs()" ng-show="displayThumb();" style="height: 50px;">
        <a href="#/Report" class="btn btn-info btn-lg" ng-click="likeReport();">
          Like <span class="glyphicon glyphicon-thumbs-up"></span> 
        </a>
        <a href="#/Report" class="btn btn-info btn-lg" ng-click="dislikeReport();">
          <span class="glyphicon glyphicon-thumbs-down"></span> Dislike
        </a>
    </div>
<!--     <div ng-repeat="item in pdItems">
        {{item['Place Name']}}
    </div> -->
    <!-- <div ng-app="powerBI_API" ng-controller="reportCtrl"> -->
    <div ng-show="!showTable();">
        <p id="tableOfResults"></p>
    </div>
    <div class="tableDiv" ng-show="showTable();">
        <!-- <p id="tableOfResults"></p> -->

        <!-- <table class="table-responsive table-bordered table-striped code-table" ng-show="showTable();"> -->
        <table class="crimePD" ng-show="showTable();">
            <colgroup>
                <col class="defaultCol">
                <col class="defaultCol">
                <col class="defaultCol">
                <col class="defaultCol">
                <col class="defaultCol">
                <col class="defaultCol">
                <col class="defaultCol">
                <col class="defaultCol">
                <col class="defaultCol">
                <col class="defaultCol">
                <col class="defaultCol">
                <col class="defaultCol">
                <col class="defaultCol">
                <col class="defaultCol">
            </colgroup>
            <thead>
                <tr>
                    <th>Place Name</th>
                    <th>category</th>
                    <th>context</th>
                    <th>id</th>
                    <th>latitude</th>
                    <th>location_subtype</th>
                    <th>location_type</th>
                    <th>longitude</th>
                    <th>month</th>
                    <th>outcome-category</th>
                    <th>outcome-date</th>
                    <th>persistent_id</th>
                    <th>street-id</th>
                    <th>street-name</th>
                </tr>
            </thead>
            <tbody id="apiResults">
                <!-- <tr id="tableData">
                <tr ng-repeat="field in pdItems">
                    <td>{{ field['Place Name'] }}</td>
                    <td>{{ field.category }}</td>
                    <td>{{ field.context }}</td>
                    <td>{{ field.id }}</td>
                    <td>{{ field.latitude }}</td>
                    <td>{{ field.location_subtype }}</td>
                    <td>{{ field.location_type }}</td>
                    <td>{{ field.longitude }}</td>
                    <td>{{ field.month }}</td>
                    <td>{{ field['outcome-category'] }}</td>
                    <td>{{ field['outcome-date'] }}</td>
                    <td>{{ field.persistent_id }}</td>
                    <td>{{ field['street-id'] }}</td>
                    <td>{{ field['street-name'] }}</td>
               </tr> -->
            </tbody>       
        </table>
    </div>
    <div id="apiResponse"></div>
</div>