.container 
{
    margin-left: -75px;
}

button.btn
{
	margin-left: 30px;
	/*displa: inline;*/
}

div.likesReport
{
	/*border: ;*/
	/*border-style: solid;*/
	width: 300px;
	height: 80px;
	display: inline;
	float: right;
}

div.report-id-input
{
	/*border-style: solid;*/
	width: 50%;
	margin-bottom: 20px;
}

div.report-id-input
{
	display: inline;
}

#report-selection-header
{
	font-size: large;
	font-weight: bold;
}

#userExperience
{
	float: right;
	height: 20px;
	margin-top: 10px;
	/*border-style: solid;*/
}

.tableDiv
{
	width: 100%;
	height: 500px;
	overflow-x: scroll;
}

.crimePD
{
	table-layout: fixed;
	width: 100%;
	white-space: nowrap;
	border: 1px solid black;

}

.crimePD td
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid black;
  padding: 2px;
}

.crimePD th
{
  border: 1px solid black;
  background-color: rgb(200,200,200);
  padding: 2px;
}

/*#iFrameLikeDislikeTile
{
	width: 100%;
	height: 100%;
}
*/


col.defaultCol
{
	width: 120px;
}

input.urlInput
{
	width: 800px;
}